.select {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  height: 40vh;
  width: 100vw;
}

.Money {
  float: left;
  width: fit-content;
  border-radius: 100px;
  padding: 10px 15px;
  box-shadow: 1px 1px black;
}

.title {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: auto;
}

.head {
  margin: 10px;
}

@media (max-width: 570px) {
  .Money {
    display: block;
  }
}

.dack {
  border-radius: 30px;
  width: 200px;
  height: 250px;
  font-size: 20px;
  margin-top: 100px;
  cursor: pointer;
  background-color: transparent;
}

.dack:hover {
  background-color: ghostwhite;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 0px;
  width: 300px;
  margin: 15px auto 0 auto;
  border-radius: 100px;
}

.rate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto auto auto;
  border: solid;
  border-radius: 100px;
  padding: 10px;
  width: fit-content;
}

.resetButton {
  border-radius: 100px;
  width: 200px;
  height: 50px;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto auto auto;
  background-color: transparent;
}

.resetButton:hover {
  background-color: ghostwhite;
}

.viewSelect {
  margin-top: 200px;
  margin-bottom: auto;
}

.view {
  border: solid;
  border-radius: 100px;
  padding: 10px;
  width: fit-content;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#computer {
  margin-top: 20px;
}

.gameover {
  border: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  border-radius: 100px;
  margin: 250px auto auto auto;
  padding: 5px;
}

.bating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 150px auto auto auto;
}

.bate {
  border-radius: 100px;
  padding: 5px 10px;
  width: fit-content;
}
